.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1184px;
    min-height: 740px;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

.cover__overlay::after {
    content: '';
    position: absolute;
    z-index: -1;
    background: #2A2C2F;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cover__overlay:hover::after {

    opacity: .8;
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__overlay {
        min-width: 1024px;
        min-height: 640px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__overlay {
        min-width: 768px;
        min-height: 468px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .cover__overlay {
        min-width: 320px;
        min-height: 200px;
    }
}